<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/ScreenshotNotes.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.screenshotnotes.app.ScreenshotNotes</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1.1</string>
		<key>SigningIdentity</key>
		<string>Apple Development: Saptak Sen (6ZLQV3XQ3R)</string>
		<key>Team</key>
		<string>8GQ5EFFMV3</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2025-07-07T14:11:26Z</date>
	<key>Name</key>
	<string>ScreenshotNotes</string>
	<key>SchemeName</key>
	<string>ScreenshotNotes</string>
</dict>
</plist>
